/* Editor styles */

/* Elements */
body {
	color: #040402;
	background-color: #fffefc;
	font-family: Verdana, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 1em 0;
}

ul {
	margin: 0 0 1em;
	padding: 0;	
	list-style: disc;
}

ol {
	margin: 0 0 1em;
	padding: 0;	
	list-style: decimal;
}

li {
	margin: 0;
	padding: 0;	
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin: 0 0 1em;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1em 1em;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	padding: 0;
	color: #057f99;
	font-weight: 400;	
}

h1 {
	margin: 0 0 0.25em;
	font-size: 2.5em;
	line-height: 1.25;
}

h2 {
	margin: 0 0 0.25em;
	font-size: 2em;
	line-height: 1.25;
}

h3 {
	margin: 0 0 0.5em;
	font-size: 1.5em;
	line-height: 1.5;
}

h4 {
	margin: 0 0 0.5em;
	font-size: 1em;
	line-height: 1.5;
}

h5 {
	margin: 0 0 0.5em;
	font-size: 1em;
	line-height: 1.5;
}

h6 {
	margin: 0 0 0.5em;
	font-size: 1em;
	line-height: 1.5;
}

p {
	margin: 0 0 1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #057f99;
	margin:0 0 1em;
	padding-left: 1em;
}

address {
	margin: 0 0 1em;
}

pre {
	background: #eee;
	font-family: inherit;
	font-size: 1em;
	white-space: pre-wrap;
	margin: 0 0 1em;
	padding: 1em;
	border-radius: 3px;
}

code, kbd, tt, var {
	font-family: monospace, monospace;
	font-size: 1em;
}

code {
	background: #eee;
	padding: 0 0.2em;	
	border-radius: 3px;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #eee;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/* Misc */
ul,
ol {
	padding-left: 2em;
}
