/*------------------------------------------------------------------------------
  22.0 - About Pages

   1.0 Global: About, Credits, Freedoms
    1.1 Typography
    1.2 Structure
    1.3 Point Releases
   2.0 About Page
    2.1 Typography
    2.2 Structure
   3.0 Credits & Freedoms Pages
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
  1.0 - Global: About, Credits, Freedoms
------------------------------------------------------------------------------*/

.about-wrap {
	position: relative;
	margin: 25px 40px 0 20px;
	max-width: 1050px; /* readability */
	font-size: 15px;
}

.about-wrap.full-width-layout {
	max-width: 1200px;
}

.about-wrap-content {
	max-width: 1050px;
}

.about-wrap div.updated,
.about-wrap div.error,
.about-wrap .notice {
	display: none !important;
}

.about-wrap hr {
	border: 0;
	height: 0;
	margin: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.about-wrap img {
	margin: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/* ClassicPress Version Badge */

.wp-badge {
	/* Background: Really old browsers */
	background: #057f99;
	/* Background: Old browsers */
	background-image: url(../images/wordpress-logo-white.svg?ver=20181031);
	background-size: 80px 80px;
	/* Background: Modern browsers */
	background-image:
		url(../images/wordpress-logo-white.svg?ver=20181031),
		linear-gradient(-135deg, #3ebca6 0%, #057f99 50%, #006b81 100%);
	background-size: 80px 80px, cover;
	/* Other rules */
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	margin: 5px 0 0;
	width: 130px;
	height: 130px;
	display: inline-block;
	text-rendering: optimizeLegibility;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.about-wrap .wp-badge {
	position: absolute;
	top: 0;
	right: 0;
}

/* Tabs */

.about-wrap .nav-tab {
	padding-right: 15px;
	padding-left: 15px;
	font-size: 18px;
}

/* 1.1 - Typography */

.about-wrap p {
	line-height: 1.5;
	font-size: 14px;
}

.about-wrap h1 {
	margin: 0.2em 200px 0 0;
	padding: 0;
	color: #32373c;
	line-height: 1.2em;
	font-size: 2.8em;
	font-weight: 400;
}

.about-wrap h2 {
	margin: 40px 0 .6em;
	font-size: 2.7em;
	line-height: 1.3;
	font-weight: 300;
	text-align: center;
}

.about-wrap h3 {
	margin: 1.25em 0 .6em;
	font-size: 1.4em;
	line-height: 1.5;
}

.about-wrap h4 {
	color: #23282d;
}

.about-wrap .changelog h2 {
	font-size: 1.4em;
	font-weight: 600;
	text-align: left;
}

.about-wrap .changelog h3 {
	margin: 1.33em 0;
	font-size: 1em;
	line-height: inherit;
	color: #23282d;
}

.about-wrap code,
.about-wrap ol li p {
	font-size: 14px;
	font-weight: 400;
}

.about-wrap .about-description,
.about-wrap .about-text {
	margin-top: 1.4em;
	font-weight: 400;
	line-height: 1.6em;
	font-size: 19px;
}

.about-wrap .about-text {
	margin: 1em 200px 1em 0;
	color: #555d66;
}

.about-wrap .dev-version-info {
	font-size: 14px;
	font-weight: 400;
	margin-left: 0.5em;
}

@media screen and (max-width: 640px) {
	.about-wrap .dev-version-info {
		display: block;
		margin-left: 0;
	}
}

/* 1.2 - Structure */

/* 1.3 - Point Releases */

.about-wrap .changelog.point-releases h3 {
	padding-top: 35px;
}

.about-wrap .changelog.point-releases h3:first-child {
	padding-top: 7px;
}

/*------------------------------------------------------------------------------
  2.0 - About Page
------------------------------------------------------------------------------*/

/* 2.1 - Typography */

/* 2.2 - Structure */

.about-wrap .changelog {
	margin-bottom: 40px;
}

/* Return to Dashboard Home link */

.about-wrap .return-to-dashboard {
	margin: 30px 0 0 -5px;
	font-size: 14px;
	font-weight: 600;
}

.about-wrap .return-to-dashboard a {
	text-decoration: none;
	padding: 0 5px;
}

/*------------------------------------------------------------------------------
  3.0 - Credits & Freedoms Pages
------------------------------------------------------------------------------*/

/* Credits */

/* Freedoms */

.freedoms-php .about-wrap ol {
	margin: 40px 60px;
}

.freedoms-php .about-wrap ol li {
	list-style-type: decimal;
	font-weight: 600;
}

.freedoms-php .about-wrap ol p {
	font-weight: 400;
	margin: 0.6em 0;
}

/*------------------------------------------------------------------------------
  4.0 - Media Queries
------------------------------------------------------------------------------*/

@media only screen and (max-width: 500px) {
	.about-wrap {
		margin-right: 20px;
		margin-left: 10px;
	}

	.about-wrap h1,
	.about-wrap .about-text {
		margin-right: 0;
	}

	.about-wrap .about-text {
		margin-bottom: 0.25em;
	}

	.about-wrap .wp-badge {
		position: relative;
		margin-bottom: 1.5em;
		width: 100%;
	}

	.about-wrap .floating-header-section {
		margin-bottom: 60px;
		grid-gap: 30px 0;
	}

}
