/* rtl:ignore */
.wp-color-picker {
	width: 80px;
	direction: ltr;
}

.wp-picker-container .hidden {
	display: none;
}

/* Needs higher specificiity. */
.wp-picker-container .wp-color-result.button {
	min-height: 30px;
	margin: 0 6px 6px 0;
	padding: 0 0 0 30px;
	font-size: 11px;
}

.wp-color-result-text {
	background: #f6f7f7;
	border-radius: 0 2px 2px 0;
	border-left: 1px solid #c3c4c7;
	color: #50575e;
	display: block;
	line-height: 2.54545455; /* 28px */
	padding: 0 6px;
	text-align: center;
}

.wp-color-result:hover,
.wp-color-result:focus {
	background: #f6f7f7;
	border-color: #8c8f94;
	color: #1d2327;
}

.wp-color-result:hover:after,
.wp-color-result:focus:after {
	color: #1d2327;
	border-color: #a7aaad;
	border-left: 1px solid #8c8f94;
}

.wp-picker-container {
	display: inline-block;
}

.wp-color-result:focus {
	border-color: #4f94d4;
	box-shadow: 0 0 3px rgba(34, 113, 177, 0.8);
}

.wp-color-result:active {
	/* See Trac ticket #39662 */
	transform: none !important;
}

.wp-picker-open + .wp-picker-input-wrap {
	display: inline-block;
	vertical-align: top;
}

.wp-picker-input-wrap label {
	display: inline-block;
	vertical-align: top;
}

/* For the old `custom-background` page, to override the inline-block and margins from `.form-table td fieldset label`. */
.form-table .wp-picker-input-wrap label {
	margin: 0 !important;
}

.wp-picker-input-wrap .button.wp-picker-default,
.wp-picker-input-wrap .button.wp-picker-clear,
.wp-customizer .wp-picker-input-wrap .button.wp-picker-default,
.wp-customizer .wp-picker-input-wrap .button.wp-picker-clear {
	margin-left: 6px;
	padding: 0 8px;
	line-height: 2.54545455; /* 28px */
	min-height: 30px;
}

.wp-picker-container .iris-square-slider .ui-slider-handle:focus {
	background-color: #50575e
}

.wp-picker-container .iris-picker {
	border-radius: 0;
	border-color: #dcdcde;
	margin-top: 6px;
}

.wp-picker-container input[type="text"].wp-color-picker {
	width: 4rem;
	font-size: 12px;
	font-family: monospace;
	line-height: 2.33333333; /* 28px */
	margin: 0;
	padding: 0 5px;
	vertical-align: top;
	min-height: 30px;
}

.wp-color-picker::-webkit-input-placeholder {
	color: #646970;
}

.wp-color-picker::-moz-placeholder {
	color: #646970;
	opacity: 1;
}

.wp-color-picker:-ms-input-placeholder {
	color: #646970;
}

.wp-picker-container input[type="text"].iris-error {
	background-color: #fcf0f1;
	border-color: #d63638;
	color: #000;
}

.iris-picker .ui-square-handle:focus,
.iris-picker .iris-strip .ui-slider-handle:focus {
	border-color: #3582c4;
	border-style: solid;
	box-shadow: 0 0 0 1px #3582c4;
	outline: 2px solid transparent;
}

.iris-picker .iris-palette:focus {
	box-shadow: 0 0 0 2px #3582c4;
}

/* CSS taken from iris.js and modified to eliminate IE(-specific styles */
.iris-picker{
	display:block;
	position:relative;
}
.iris-picker,
.iris-picker * {
	box-sizing:content-box;
}
input+.iris-picker {
	margin-top:4px;
}
.iris-error {
	background-color:#ffafaf;
}
.iris-border {
	border-radius:3px;
	border:1px solid #aaa;
	width:200px;
	background-color:#fff;
}
.iris-picker-inner {
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.iris-border .iris-picker-inner {
	top:10px;
	right:10px;
	left:10px;
	bottom:10px;
}
.iris-picker .iris-square-inner {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
.iris-picker .iris-square,
.iris-picker .iris-slider,
.iris-picker .iris-square-inner,
.iris-picker .iris-palette {
	border-radius:3px;
	box-shadow:inset 0 0 5px rgba(0,0,0,.4);
	height:100%;
	width:12.5%;
	float:left;
	margin-right:5%;
}
.iris-only-strip .iris-slider {
	width:100%;
}
.iris-picker .iris-square {
	width:76%;
	margin-right:10%;
	position:relative;
}
.iris-only-strip .iris-square {
	display:none;
}
.iris-picker .iris-square-inner {
	width:auto;
	margin:0;
}
.iris-picker .iris-strip {
	margin-right:0;position:relative;
}
.iris-picker .iris-strip .ui-slider-handle {
	position:absolute;
	background:0 0;
	margin:0;
	right:-3px;
	left:-3px;
	border:4px solid #aaa;
	border-width:4px 3px;
	width:auto;
	height:6px;
	border-radius:4px;
	box-shadow:0 1px 2px rgba(0,0,0,.2);
	opacity:.9;
	z-index:5;
	cursor:ns-resize;
}
.iris-strip-horiz .iris-strip .ui-slider-handle {
	right:auto;
	left:auto;
	bottom:-3px;
	top:-3px;
	height:auto;
	width:6px;
	cursor:ew-resize;
}
.iris-strip .ui-slider-handle:before {
	content:" ";
	position:absolute;
	left:-2px;
	right:-2px;
	top:-3px;
	bottom:-3px;
	border:2px solid #fff;
	border-radius:3px;
}
.iris-picker .iris-slider-offset {
	position:absolute;
	top:11px;
	left:0;
	right:0;
	bottom:-3px;
	width:auto;
	height:auto;
	background:transparent;
	border:0;border-radius:0;
}
.iris-strip-horiz .iris-slider-offset {
	top:0;
	bottom:0;
	right:11px;
	left:-3px;
}
.iris-picker .iris-square-handle {
	background:transparent;
	border:5px solid #aaa;
	border-radius:50%;
	border-color:rgba(128,128,128,.5);
	box-shadow:none;
	width:12px;
	height:12px;
	position:absolute;
	left:-10px;
	top:-10px;
	cursor:move;
	opacity:1;
	z-index:10;
}
.iris-picker .ui-state-focus .iris-square-handle {
	opacity:.8;
}
.iris-picker .iris-square-handle:hover {
	border-color:#999;
}
.iris-picker .iris-square-value:focus .iris-square-handle {
	box-shadow:0 0 2px rgba(0,0,0,.75);
	opacity:.8;
}
.iris-picker .iris-square-handle:hover::after {
	border-color:#fff;
}
.iris-picker .iris-square-handle::after {
	position:absolute;
	bottom:-4px;
	right:-4px;
	left:-4px;
	top:-4px;
	border:3px solid #f9f9f9;
	border-color:rgba(255,255,255,.8);
	border-radius:50%;
	content:" ";
}
.iris-picker .iris-square-value {
	width:8px;
	height:8px;
	position:absolute;
}
.iris-mozilla .iris-square-value {
	width:1px;
	height:1px;
}
.iris-palette-container {
	position:absolute;
	bottom:0;
	left:0;
	margin:0;
	padding:0;
}
.iris-border .iris-palette-container {
	left:10px;
	bottom:10px;
}
.iris-picker .iris-palette {
	margin:0;
	cursor:pointer;
}
.iris-square-handle,
.ui-slider-handle {
	border:0;
	outline:0;
}

@media screen and (max-width: 782px) {
	.wp-picker-container input[type="text"].wp-color-picker {
		width: 5rem;
		font-size: 16px;
		line-height: 1.875; /* 30px */
		min-height: 32px;
	}

	.wp-customizer .wp-picker-container input[type="text"].wp-color-picker {
		padding: 0 5px;
	}

	.wp-picker-input-wrap .button.wp-picker-default,
	.wp-picker-input-wrap .button.wp-picker-clear {
		padding: 0 8px;
		line-height: 2.14285714; /* 30px */
		min-height: 32px;
	}

	.wp-customizer .wp-picker-input-wrap .button.wp-picker-default,
	.wp-customizer .wp-picker-input-wrap .button.wp-picker-clear {
		padding: 0 8px;
		font-size: 14px;
		line-height: 2.14285714; /* 30px */
		min-height: 32px;
	}

	.wp-picker-container .wp-color-result.button {
		padding: 0 0 0 40px;
		font-size: 14px;
		line-height: 2.14285714; /* 30px */
	}

	.wp-customizer .wp-picker-container .wp-color-result.button {
		font-size: 14px;
		line-height: 2.14285714; /* 30px */
	}

	.wp-picker-container .wp-color-result-text {
		padding: 0 14px;
		font-size: inherit;
		line-height: inherit;
	}

	.wp-customizer .wp-picker-container .wp-color-result-text {
		padding: 0 10px;
	}
}
