/* General Widgets Styles */

.widget {
	margin: 0 auto 10px !important;
	position: relative;
	box-sizing: border-box;
}

.widget.open {
	z-index: 99;
}
.widget.open:focus-within {
	z-index: 100;
}

.widget-top {
	font-size: 13px;
	font-weight: 600;
	background: #f6f7f7;
}

.widget-top .widget-action {
	border: 0;
	margin: 0;
	padding: 10px;
	background: none;
	cursor: pointer;
}

.widget-title h3,
.widget-title h4,
summary.widget-title {
	margin: 0;
	padding: 12px 15px 15px 10px;
	font-size: 1em;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.widget-title h3 {
	padding-left: 5px;
}

.image-details .column-settings h3 {
	margin: 1em 0 0 1em;
}

.image-details .column-settings details h3 {
	margin-left: 0;
}

summary.widget-title::marker,
summary.widget-title::-webkit-details-marker,
.advanced-section summary::marker,
.advanced-section summary::-webkit-details-marker {
	font-size: 1.4em;
	cursor: pointer;
}

.widgets-holder-wrap .widget-inside {
	border: 0;
	border-top: 1px solid #c3c4c7;
	padding: 1px 15px 15px;
	line-height: 1.23076923;
}

#available-widgets .widget-inside,
.widget.widget-dirty .widget-control-close-wrapper {
	display: none;
}

.in-widget-title,
#widgets-right a.widget-control-edit,
#available-widgets .widget-description {
	color: #646970;
}

.deleting .widget-title,
.deleting .widget-top .widget-action .toggle-indicator:before {
	color: #a7aaad;
}

/* Media Widgets */
.wp-core-ui .media-widget-control.selected .placeholder,
.wp-core-ui .media-widget-control.selected .not-selected,
.wp-core-ui .media-widget-control .selected {
	display: none;
}

.media-widget-control.selected .selected {
	display: inline-block;
}

.media-widget-buttons {
	text-align: left;
	margin-top: 0;
}

.media-widget-control .media-widget-buttons .button {
	width: auto;
	height: auto;
	margin-top: 12px;
	white-space: normal;
}

.media-widget-buttons .button:first-child {
	margin-right: 8px;
}

.media-widget-control .attachment-media-view .button-add-media,
.media-widget-control .placeholder {
	border: 1px dashed #c3c4c7;
	box-sizing: border-box;
	cursor: pointer;
	line-height: 1.6;
	padding: 9px 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.media-widget-control .attachment-media-view .button-add-media {
	cursor: pointer;
	background-color: #f0f0f1;
	color: #2c3338;
	margin-bottom: 1em;
}

.media-widget-control .attachment-media-view .button-add-media:hover {
	background-color: #fff;
}

.media-widget-control .attachment-media-view .button-add-media:focus {
	background-color: #fff;
	border-style: solid;
	border-color: #4f94d4;
	box-shadow: 0 0 3px rgba(34, 113, 177, 0.8);
	/* Only visible in Windows High Contrast mode */
	outline: 2px solid transparent;
	outline-offset: -2px;
}

.media-widget-control .media-widget-preview {
	background: transparent;
	text-align: center;
}
.media-widget-control .media-widget-preview .notice {
	text-align: initial;
}
.media-frame .media-widget-embed-notice p code,
.media-widget-control .notice p code {
	padding: 0 3px 0 0;
}
.media-frame .media-widget-embed-notice {
	margin-top: 16px;
}
.media-widget-control .media-widget-preview img {
	max-width: 100%;
	vertical-align: middle;
	background-image: linear-gradient(45deg, #c3c4c7 25%, transparent 25%, transparent 75%, #c3c4c7 75%, #c3c4c7), linear-gradient(45deg, #c3c4c7 25%, transparent 25%, transparent 75%, #c3c4c7 75%, #c3c4c7);
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}
.media-widget-control .media-widget-preview .wp-video-shortcode {
	background: #000;
}

.media-frame.media-widget .media-toolbar-secondary {
	min-width: 300px;
}

.media-frame.media-widget .image-details .embed-media-settings .setting.align,
.media-frame.media-widget .attachment-display-settings .setting.align,
.media-frame.media-widget .embed-media-settings .setting.align,
.media-frame.media-widget .embed-media-settings .legend-inline,
.media-frame.media-widget .embed-link-settings .setting.link-text,
.media-frame.media-widget .replace-attachment,
.media-frame.media-widget .checkbox-setting.autoplay {
	display: none;
}

.media-widget-video-preview {
	width: 100%;
}

.media-widget-video-link {
	display: inline-block;
	min-height: 132px;
	width: 100%;
	background: #000;
}

.media-widget-video-link .dashicons {
	font: normal 60px/1 'dashicons';
	position: relative;
	width: 100%;
	top: -90px;
	color: #fff;
	text-decoration: none;
}

.media-widget-video-link.no-poster .dashicons {
	top: 30px;
}

.media-frame #embed-url-field.invalid,
.media-widget-image-link > .link:invalid {
	border: 1px solid #d63638;
}

.media-widget-image-link {
	margin: 1em 0;
}

.media-widget-gallery-preview {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: -1.79104477%;
}

.media-widget-preview.media_gallery,
.media-widget-preview.media_image {
	cursor: pointer;
}

.media-widget-preview .placeholder {
	background: #f0f0f1;
}

.media-widget-gallery-preview .gallery-item {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	background: transparent;
}

.media-widget-gallery-preview .gallery-item .gallery-icon {
	margin: 4.5%;
}

/*
 * Use targeted nth-last-child selectors to control the size of each image
 * based on how many gallery items are present in the grid.
 * See: https://alistapart.com/article/quantity-queries-for-css
 */
.media-widget-gallery-preview .gallery-item:nth-last-child(3):first-child,
.media-widget-gallery-preview .gallery-item:nth-last-child(3):first-child ~ .gallery-item,
.media-widget-gallery-preview .gallery-item:nth-last-child(n+5),
.media-widget-gallery-preview .gallery-item:nth-last-child(n+5) ~ .gallery-item,
.media-widget-gallery-preview .gallery-item:nth-last-child(n+6),
.media-widget-gallery-preview .gallery-item:nth-last-child(n+6) ~ .gallery-item {
	max-width: 33.33%;
}

.media-widget-gallery-preview .gallery-item img {
	object-fit: cover;
	vertical-align: bottom;
}

.media-widget-gallery-preview .gallery-icon {
	position: relative;
}

.media-widget-gallery-preview .gallery-icon-placeholder {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.media-widget-gallery-preview .gallery-icon-placeholder-text {
	font-weight: 600;
	font-size: 2em;
	color: #fff;
}


/* Widget Dragging Helpers */
.widget.ui-draggable-dragging {
	min-width: 100%;
}

.widget.ui-sortable-helper {
	opacity: 0.8;
}

.widget-placeholder {
	border: 1px dashed #c3c4c7;
	margin: 0 auto 10px;
	height: 45px;
	width: 100%;
	box-sizing: border-box;
}

#widgets-right .widget-placeholder {
	margin-top: 0;
}

#widgets-right .closed .widget-placeholder {
	height: 0;
	border: 0;
	margin-top: -10px;
}

/* Widget Sidebars */
.sidebar-name {
	position: relative;
	box-sizing: border-box;
}

.js .sidebar-name {
	cursor: pointer;
}

.sidebar-name .handlediv {
	float: right;
	width: 38px;
	height: 38px;
	border: 0;
	margin: 0;
	padding: 8px;
	background: none;
	cursor: pointer;
	outline: none;
}

#widgets-right .sidebar-name .handlediv {
	margin: 5px 3px 0 0;
}

.sidebar-name .handlediv:focus {
	box-shadow: none;
	/* Only visible in Windows High Contrast mode */
	outline: 1px solid transparent;
}

#widgets-left .sidebar-name .toggle-indicator {
	display: none;
}

#widgets-left .widgets-holder-wrap.closed .sidebar-name .toggle-indicator,
#widgets-left .sidebar-name:hover .toggle-indicator,
#widgets-left .sidebar-name .handlediv:focus .toggle-indicator {
	display: block;
}

.sidebar-name .toggle-indicator:before {
	padding: 1px 2px 1px 0;
	border-radius: 50%;
}

.sidebar-name .handlediv:focus .toggle-indicator:before {
	box-shadow:
		0 0 0 1px #4f94d4,
		0 0 2px 1px rgba(79, 148, 212, 0.8);
}

.sidebar-name h2,
.sidebar-name h3 {
	margin: 0;
	padding: 8px 10px;
	overflow: hidden;
	white-space: normal;
	line-height: 1.5;
	font-size: 1em;
}

summary.sidebar-name {
	padding: 15px 15px 15px 7px;
	color: #1d2327;
	font-size: 1.3em;
	font-weight: 600;
}

summary.sidebar-name::marker,
summary.sidebar-name::-webkit-details-marker {
	font-size: 1.2em;
	cursor: pointer;
}

.advanced-section summary {
	padding-left: 1.2em
}

.widgets-holder-wrap .description {
	padding: 0 0 15px;
	margin: 0;
	font-style: normal;
	color: #646970;
}

.widget-holder .description,
.inactive-sidebar .description {
	color: #50575e;
}

#widgets-right .widgets-holder-wrap .description {
	padding-left: 7px;
	padding-right: 7px;
}

/* Widgets 2-col Layout */
div.widget-liquid-left {
	margin: 0;
	width: 38%;
	float: left;
}

div.widget-liquid-right {
	float: right;
	width: 58%;
}

/* Widgets Left - Available Widgets */

div#widgets-left {
	padding-top: 12px;
}

div#widgets-left .closed .sidebar-name,
div#widgets-left .inactive-sidebar.closed .sidebar-name {
	margin-bottom: 10px;
}

div#widgets-left .sidebar-name h2,
div#widgets-left .sidebar-name h3 {
	padding: 10px 0;
	margin: 0 10px 0 0;
}

#widgets-left .widgets-holder-wrap,
div#widgets-left .widget-holder {
	background: transparent;
	border: none;
}

#widgets-left .widgets-holder-wrap {
	border: none;
	box-shadow: none;
}

#available-widgets .widget {
	margin: 0;
}

#available-widgets .widget:nth-child(odd) {
	clear: both;
}

#available-widgets .widget .widget-description {
	display: block;
	padding: 10px 15px;
	font-size: 12px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

#available-widgets #widget-list {
	position: relative;
}

/* Inactive Sidebars */
#widgets-left .inactive-sidebar {
	clear: both;
	width: 100%;
	background: transparent;
	padding: 0;
	margin: 0 0 20px;
	border: none;
	box-shadow: none;
}

#widgets-left .inactive-sidebar.first {
	margin-top: 40px;
}

/* Not sure what this is for... */
div#widgets-left .inactive-sidebar .widget.expanded {
	left: auto;
}

.widget-title-action {
	float: right;
	position: relative;
}

div#widgets-left .inactive-sidebar .widgets-sortables {
	min-height: 42px;
	padding: 0;
	background: transparent;
	margin: 0;
	position: relative;
}

/* Widgets Right */

div#widgets-right .sidebars-column-1,
div#widgets-right .sidebars-column-2 {
	max-width: 450px;
}

div#widgets-right .widgets-holder-wrap {
	margin: 10px 0 0;
}

div#widgets-right .sidebar-description {
	min-height: 20px;
	margin-top: -5px;
}

div#widgets-right .sidebar-name h2,
div#widgets-right .sidebar-name h3 {
	padding: 15px 15px 15px 7px;
}

div#widgets-right .widget-top {
	padding: 0;
}

div#widgets-right .widgets-sortables {
	padding: 0 8px;
	margin-bottom: 9px;
	position: relative;
	min-height: 123px;
}

div#widgets-right .closed .widgets-sortables {
	min-height: 0;
	margin-bottom: 0;
}

.sidebar-name .spinner,
.remove-inactive-widgets .spinner {
	float: none;
	position: relative;
	top: -2px;
	margin: -5px 5px;
}

.sidebar-name .spinner {
	position: absolute;
	top: 18px;
	right: 30px;
}

/* Dragging a widget over a closed sidebar */
#widgets-right .widgets-holder-wrap.widget-hover {
	border-color: #787c82;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* Accessibility Mode */
.widget-access-link {
	float: right;
	margin: -5px 0 10px 10px;
}

.widgets_access #widgets-left .widget .widget-top {
	cursor: auto;
}

.widgets_access #wpwrap .widgets-holder-wrap.closed .sidebar-description,
.widgets_access #wpwrap .widgets-holder-wrap.closed .widget,
.widgets_access #wpwrap .widget-control-edit {
	display: block;
}

.widgets_access #widgets-left .widget .widget-top:hover,
.widgets_access #widgets-right .widget .widget-top:hover {
	border-color: #dcdcde;
}

#available-widgets .widget-control-edit .edit,
#available-widgets .widget-action .edit,
#widgets-left .inactive-sidebar .widget-control-edit .add,
#widgets-left .inactive-sidebar .widget-action .add,
#widgets-right .widget-control-edit .add,
#widgets-right .widget-action .add {
	display: none;
}

.widget-control-edit {
	display: block;
	color: #646970;
	background: #f0f0f1;
	padding: 0 15px;
	line-height: 3.30769230;
	border-left: 1px solid #dcdcde;
	margin-top: -3.4em;
}

#widgets-left .widget-control-edit:hover,
#widgets-right .widget-control-edit:hover {
	color: #fff;
	background: #3c434a;
	border-left: 0;
	outline: 1px solid #3c434a;
}

.widgets-holder-wrap .sidebar-name,
.widgets-holder-wrap .sidebar-description {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.editwidget {
	margin: 0 auto;
}

.editwidget .widget-inside {
	display: block;
	padding: 0 15px;
}

.editwidget .widget-control-actions {
	margin-top: 20px;
}

#available-widgets .widget-control-actions {
	display: none;
}

.js .widgets-holder-wrap.closed .widget,
.js .widgets-holder-wrap.closed .sidebar-description,
.js .widgets-holder-wrap.closed .remove-inactive-widgets,
.js .widgets-holder-wrap.closed .description,
.js .closed br.clear {
	display: none;
}

.js .widgets-holder-wrap.closed .widget.ui-sortable-helper {
	display: block;
}

/* Hide Widget Description by Default */
.widget-description {
	display: none;
}

.widget-inside {
	background: #fff;
	font-weight: 500;
}

.widget-inside select {
	max-width: 100%;
}

/* Dragging widgets over the available widget area show's a "Deactivate" message */
#removing-widget {
	display: none;
	font-weight: 400;
	padding-left: 15px;
	font-size: 12px;
	line-height: 1;
	color: #000;
}

.js #removing-widget {
	color: #72aee6;
}

.widget-control-noform,
#access-off,
.widgets_access .widget-action,
.widgets_access .handlediv,
.widgets_access #access-on,
.no-js .widget-holder .description {
	display: none;
}

.widgets_access .widget-holder,
.widgets_access #widget-list {
	padding-top: 10px;
}

.widgets_access #access-off {
	display: inline;
}

.widgets_access .sidebar-name,
.widgets_access .widget .widget-top {
	cursor: default;
}


/* Widgets Area Chooser */
.widget-liquid-left #widgets-left.chooser #available-widgets .widget,
.widget-liquid-left #widgets-left.chooser .inactive-sidebar {
	transition: opacity 0.1s linear;
}

.widget-liquid-left #widgets-left.chooser #available-widgets .widget,
.widget-liquid-left #widgets-left.chooser .inactive-sidebar {
	/* -webkit-filter: blur(1px); */
	opacity: 0.2;
	pointer-events: none;
}

.widget-liquid-left #widgets-left.chooser #available-widgets .widget-in-question {
	/* -webkit-filter: none; */
	opacity: 1;
	pointer-events: auto;
}

.widgets-chooser ul,
#widgets-left .widget-in-question .widget-top,
#available-widgets .widget-top:hover,
div#widgets-right .widget-top:hover,
#widgets-left .widget-top:hover {
	border-color: #8c8f94;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.widgets-chooser ul.widgets-chooser-sidebars {
	margin: 0;
	list-style-type: none;
	max-height: 300px;
	overflow: auto;
}

.widgets-chooser {
	display: none;
}

#available-widgets .widgets-chooser {
	display: block;
	font-weight: 500;
}

.widgets-chooser li {
	border-bottom: 1px solid #c3c4c7;
	background: #fff;
	margin: 0;
	position: relative;
}

.widgets-chooser .widgets-chooser-button {
	width: 100%;
	padding: 10px 15px 10px 35px;
	background: transparent;
	border: 0;
	box-sizing: border-box;
	text-align: left;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
}

/* @todo looks like these hover/focus states are overridden by .widgets-chooser-selected */
.widgets-chooser .widgets-chooser-button:hover,
.widgets-chooser .widgets-chooser-button:focus {
	outline: none;
	text-decoration: underline;
}

.widgets-chooser li:last-child {
	border: none;
}

.widgets-chooser .widgets-chooser-selected .widgets-chooser-button {
	background: #2271b1;
	color: #fff;
}

.widgets-chooser .widgets-chooser-selected:before {
	content: "\f147";
	display: block;
	-webkit-font-smoothing: antialiased;
	font: normal 26px/1 dashicons;
	color: #fff;
	position: absolute;
	top: 7px;
	left: 5px;
}

.widgets-chooser .widgets-chooser-actions {
	padding: 10px 0 12px;
	text-align: center;
}

#available-widgets .widget .widget-top {
	cursor: pointer;
}

#available-widgets .widget.ui-draggable-dragging .widget-top {
	cursor: move;
}

/* =Specific widget styling
-------------------------------------------------------------- */
.text-widget-fields {
	position: relative;
}
.text-widget-fields [hidden] {
	display: none;
}
.text-widget-fields .wp-pointer.wp-pointer-top {
	position: absolute;
	z-index: 3;
	top: 100px;
	right: 10px;
	left: 10px;
}
.text-widget-fields .wp-pointer .wp-pointer-arrow {
	left: auto;
	right: 15px;
}
.text-widget-fields .wp-pointer .wp-pointer-buttons {
	line-height: 1.4;
}
.CodeMirror-wrap,
.custom-html-widget-fields > p > .CodeMirror {
	border: 1px solid #dcdcde;
}
.custom-html-widget-fields code {
	padding-top: 1px;
	padding-bottom: 1px;
}
ul.CodeMirror-hints {
	z-index: 101; /* Due to z-index 100 set on .widget.open */
}
.widget-control-actions .custom-html-widget-save-button.button.validation-blocked {
	cursor: not-allowed;
}
.widget-content fieldset {
	margin: 1em 0;
	font-size: 1.2em;
}
.widget-content .media-widget-control fieldset {
	font-size: 1.1em;
}

/* Widget Modal
-------------------------------------------------------------- */
#widget-modal {
	width: 95%;
	height: 90%;
}
#widget-modal .uploader-inline {
	width: 100%;
	height: 100vh;
	margin-left: -1em;
	padding-left: 1em;
	background-color: #ecf7e9;
}
#widget-modal .filepond--root .filepond--drop-label {
	min-height: 4.75em;
	height: 300px;
}
#widget-modal .filepond--root > .filepond--panel {
	margin-left: -0.8em;
}
.filepond--credits {
	display: none;
}
.load-more-count,
.no-media,
.max-upload-page-size {
	text-align: center;
}
.widget-modal-container {
	 display: flex;
	 margin: -1em;
}
.widget-modal-left-sidebar {
	width: 200px;
	min-width: 200px;
	padding: 0.5em 1em;
	background: #f6f7f7;
	border-right: 1px solid #c3c4c7;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.widget-modal-left-sticky {
	position: sticky;
	top: 1em;
}
.widget-modal-left-heading {
	font-size: 13px;
	margin-left: 0.5em;
}
.widget-modal-left-tablist {
	margin-left: -1em;
}
.widget-modal-left-tablist .media-menu-item {
	text-align: left;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 8px 20px;
	font-size: 14px;
	background: 0 0;
	color: #2271b1;
	cursor: pointer;
}
.widget-modal-left-tablist .media-menu-item.active {
	color: #1d2327;
	font-weight: 600;
	pointer-events: none;
}
.widget-modal-left-tablist .separator {
	height: 0;
	margin: 12px 20px;
	padding: 0;
	border-top: 1px solid #dcdcde;
}
.widget-modal-main {
	flex-grow: 1;
}
.widget-modal-header {
	position: sticky;
	top: -1em;
	z-index: 999;
	background: #fff;
	border-bottom: 1px solid #dcdcde;
}
.widget-modal-headings {
	display: flex;
	justify-content: space-between;
	margin: 0 1em;
}
.widget-modal-title {
	margin-top: 1em;
}
.widget-modal-title h2 {
	font-size: 22px;
	margin: 0;
	line-height: 1.2;
}
.widget-modal-details {
	font-size: 0.875rem;
	margin-top: 0.875rem;
}
.widget-modal-close {
	width: 46px;
	height: 46px;
	color: #646970;
	cursor: pointer;
	background: #fff;
	border: none;
}
.widget-modal-close:hover,
.widget-modal-close:focus {
	color: #2271b1;
	border: 1px solid #2271b1;
	outline: 0;
	box-shadow: 0 0 3px rgba(34, 113, 177, 0.8);
}
.widget-modal-icon {
	pointer-events: none;
}
.widget-modal-icon::before {
	content: '\f158';
	font: normal 20px/1 dashicons;
	vertical-align: middle;
}
.widget-modal-header-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5em;
}
.widget-modal-router {
	padding:0 6px;
	margin: 0 0 -1px;
}
.widget-modal-router .media-menu-item {
	padding: 8px 10px 9px;
	font-size: 14px;
	background: transparent;
	border: none;
	cursor: pointer;
}
.widget-modal-router .media-menu-item.active {
	background: #fff;
	border: 1px solid #dcdcde;
	border-bottom: none;
}
.widget-modal-pages {
	margin-right: 1em;
}
.widget-modal-content {
	display: flex;
	padding-left: 1em;
}
.media-library-grid {
	flex-grow: 1;
}
.media-library-select-section {
	position: sticky;
	z-index: 900;
	background: #fff;
	padding: 0.75em 1em 0 0;
}
.media-library-select-div {
	display: flex;
	justify-content: space-between;
}
.widget-modal-filter-heading {
	margin: 0 0 0.25em;
	font-size: 13px;
}
.widget-modal-search-label {
	margin: 0 0.2em 0.4em 0;
	vertical-align: baseline;
	display: block;
}
.media-library-grid-section {
	height: 100vh;
	overflow: auto;
	padding-right: 1em;
}
.widget-modal-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	gap: 16px;
	margin-bottom: 20px;
}
.widget-modal-grid li {
	cursor: pointer;
	margin-bottom: 0;
	position: relative;
}
.widget-modal-grid .media-thumbnail {
	position: relative;
	aspect-ratio: 1;
	overflow: hidden;
	text-align: center;
}
.widget-modal-grid img {
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: cover;
}
.widget-modal-grid .media-item .check {
	display: none;
	height: 24px;
	width: 24px;
	padding: 0;
	border: 0;
	top: -5px;
	right: -5px;
	position: absolute;
	z-index: 10;
	outline: none;
	cursor: pointer;
	background-color: #2271b1;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #2271b1;
}
.widget-modal-grid .media-item .check::before {
	content: "\2713";
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
#gallery-grid .media-item .check::before {
	content: "\2715";
}
.widget-modal-grid  .media-item .check:hover::before,
#gallery-grid .media-item .check:hover::before {
	content: "\2014";
}
.widget-modal-right-sidebar {
	margin-top: -1em;
	padding: 1em;
	background: #f6f7f7;
	border-left: 1px solid #c3c4c7;
	width: 267px;
	min-width: 267px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	height: 110vh;
	overflow: auto;
}
.widget-modal-gallery-settings .setting,
.widget-modal-right-sidebar h3 {
	margin-bottom: 0.5em;
}
.widget-modal-attachment-info {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #dcdcde;
}
.widget-modal-attachment-info .thumbnail {
	width: 38%;
	overflow: hidden;
	display: inline-block;
}
.widget-modal-attachment-info .thumbnail img,
#media-widget-modal .image img {
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: cover;
	aspect-ratio: 1;
}
.widget-modal-attachment-info .details {
	width: 50%;
	padding-left: 1em;
	display: inline-block;
}
.widget-modal-attachment-info .button-link.delete-attachment {
	color: #d63638;
}
#widget-modal .compat-item {
	float: none;
	width: 100%;
	overflow: hidden;
}
#details-saved,
#tax-saved {
	color: #008a20;
}
.widget-modal-descriptions .setting,
.widget-modal-display-settings .setting,
#image-modal-content .column-settings .setting {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1em;
}
.widget-modal-display-settings .setting.setting-hidden {
	display: none;
}
.widget-modal-descriptions label,
.widget-modal-display-settings label {
	padding: 8px 1em 0 0;
}
.widget-modal-descriptions textarea,
.widget-modal-descriptions input,
.widget-modal-display-settings textarea,
.widget-modal-display-settings input,
.widget-modal-display-settings select {
	width: 65%;
}
.insert-from-url-panel {
	padding: 1em 1em 0;
	border-top: 1px solid #dcdcde;
}
#widget-modal-embed-url-field {
	font-size: 18px;
	line-height: 1.22222222;
	margin-bottom: 1em;
	padding: 12px 40px 12px 14px;
	width: 100%;
	min-width: 200px;
	box-shadow: inset 2px 2px 4px -2px rgba(0,0,0,.1);
}
.widget-modal-media-embed .thumbnail {
	max-width: 100%;
	max-height: 200px;
	margin-bottom: 1em;
}
.widget-modal-media-embed .thumbnail img {
	max-height: 200px;
	display: block;
}
#widget-modal-url-settings label {
	display: block;
}
#widget-modal-url-settings textarea,
#widget-modal-url-settings input {
	width: 100%;
	max-width: 400px;
}
#widget-modal-url-settings #alt-text-description {
	margin: 0 0 1.5em; 
}
#widget-modal-url-settings .setting-group {
	margin: 1.5em 0;
}
#widget-modal-url-settings #link-to-url {
	margin-top: 1em;
}
.setting-group .link-to-custom {
	width: 100%;
}
.widget-modal-footer {
	position: sticky;
	bottom: -1em;
	height: 50px;
	z-index: 999;
	background: #fff;
	border-top: 1px solid #dcdcde;
}
.widget-modal-footer-buttons {
	padding-right: 1em;
	text-align: right;
}
.wp-core-ui .widget-modal-footer-buttons .button-primary {
	cursor: pointer;
	margin-top: 0.75em;
}
#image-modal-content .media-embed,
.imgedit-wrap > div:not( .hidden ) {
	display: flex;
}
#image-modal-content .column-settings,
.imgedit-panel-content {
	width: 55%;
	overflow: auto;
	padding: 1em 2em 1em;
	background: #f6f7f7;
	border-right: 1px solid #dcdcde;
}
#image-modal-content .advanced-section {
	margin-left: -1em;
}
#image-modal-content .advanced-section summary h3 {
	border-top: none;
}
#image-modal-content .setting.caption,
#image-modal-content .column-settings fieldset {
	max-width: 100%;
	padding-bottom: 0.75em;
	margin-bottom: 1em;
	border-bottom: 1px solid #dcdcde;
}
#image-modal-content .setting.caption {
	padding-bottom: 1.5em;
}
#image-modal-content .column-image,
.imgedit-settings {
	width: 45%;
	padding: 1.5em;
}
.imgedit-settings > div {
	max-width: 200px;
}
#image-modal-content .column-settings textarea,
#image-modal-content .column-settings input:not( #image-details-link-target ) {
	width: 70%;
	max-width: 70%;
	margin-left: 1em;
}
#image-modal-content .column-settings .setting.size,
#image-modal-content .column-settings .setting.link-to,
#image-modal-content .column-settings .setting.link-target,
#image-modal-content .column-settings .custom-size-setting {
	display: block;
}
#image-modal-content .column-settings .setting.size label,
#image-modal-content .column-settings .setting.link-to label,
#image-modal-content .column-settings .setting.link-to-url label,
#image-modal-content .column-settings .custom-size-setting label {
	width: 30%;
	display: inline-block;
	text-align: right;
	padding-right: 0.5em;
	margin-left: -0.75em;
}
#image-modal-content .advanced-section summary {
	margin-bottom: 1em;
}
#image-modal-content .advanced-settings {
	padding-left: 1em;
}
#alt-text-description {
	margin: -0.5em 0 1em 30%;
}
#image-details-link-target,
.sep {
	margin-left: 30%;
}
#image-modal-content .custom-size-setting input {
	width: 115px !important;
	margin-left: 0 !important;
}
#image-modal-content .column-settings .setting.link-to #image-details-link-to-custom {
	max-width: 70%;
	margin: 0.5em 0 0;
}
#edit-original {
	margin-top: 1em;
}
.media-gallery-grid-header {
	display: flex;
	justify-content: space-between;
	margin: 1em 1em 1em 0;
}
.describe {
	margin-left: -0.5px;
}

/* =Media Queries
-------------------------------------------------------------- */
@media only screen and (max-width: 900px) {
	.widget-modal-left-sidebar {
		display: none;
	}
	.widget-modal-main {
		width: 100%;
	}
	#widget-modal input,
	#widget-modal textarea,
	#widget-modal select,
	#widget-modal button {
		min-height: 30px;
		max-height: 30px;
		line-height: 1;
	}
	#widget-modal button.widget-modal-close {
		max-height: 46px;
	}
}

@media screen and (max-width: 782px) {
	.widgets-holder-wrap .widget-inside input[type="checkbox"],
	.widgets-holder-wrap .widget-inside input[type="radio"],
	.editwidget .widget-inside input[type="checkbox"], /* Selectors for the "accessibility mode" page. */
	.editwidget .widget-inside input[type="radio"] {
		margin: 0.25rem 0.25rem 0.25rem 0;
	}
}

@media screen and (max-width: 690px) {
	.widget-modal-content {
		display: block;
	}
	.media-library-grid,
	.widget-modal-right-sidebar {
		width: 100%;
	}
	.widget-modal-right-sidebar {
		width: 99%;
		margin-left: -1.2em;
		padding-right: 1em;
		height: 100%;
		overflow: hidden;
	}
}

@media screen and (max-width: 480px) {
	div.widget-liquid-left {
		width: 100%;
		float: none;
		border-right: none;
		padding-right: 0;
	}

	#widgets-left .sidebar-name {
		margin-right: 0;
	}

	#widgets-left #available-widgets .widget-top {
		margin-right: 0;
	}

	#widgets-left .inactive-sidebar .widgets-sortables {
		margin-right: 0;
	}

	div.widget-liquid-right {
		width: 100%;
		float: none;
	}

	div.widget {
		max-width: 480px;
	}

	.widget-access-link {
		float: none;
		margin: 15px 0 0;
	}
}

@media screen and (max-width: 320px) {
	div.widget {
		max-width: 320px;
	}
}

@media only screen and (min-width: 1250px) {
	#widgets-left #widget-list .widget {
		width: 49%;
		float: left;
	}

	.widget.ui-draggable-dragging {
		min-width: 49%;
	}

	#widgets-left #widget-list .widget:nth-child(even) {
		float: right;
	}

	#widgets-right .sidebars-column-1,
	#widgets-right .sidebars-column-2 {
		float: left;
		width: 49%;
	}

	#widgets-right .sidebars-column-1 {
		margin-right: 2%;
	}

	#widgets-right.single-sidebar .sidebars-column-1,
	#widgets-right.single-sidebar .sidebars-column-2 {
		float: none;
		width: 100%;
		margin: 0;
	}
}
