name: JavaScript Tests

on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:

jobs:
  # Runs the QUnit tests for ClassicPress.
  #
  # Performs the following steps:
  # - Checks out the repository.
  # - Installs NodeJS.
  # - Sets up caching for NPM.
  # - Logs debug information.
  # - Installs NPM dependencies using install-changed to hash the `package.json` file.
  # - Run the ClassicPress QUnit tests.
  test-js:
    name: QUnit Tests
    runs-on: ubuntu-24.04
    if: ${{ github.repository == 'ClassicPress/ClassicPress' || github.event_name == 'pull_request' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read .nvmrc
        run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: nvmrc

      - name: Install NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '${{ steps.nvmrc.outputs.NVMRC }}'

      - name: Cache NodeJS modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Show debug information
        run: |
          set +e
          set -x
          npm --version
          node --version
          curl --version
          git --version
          svn --version
          php --version
          phpunit --version
          composer --version
          grunt --version
          mysql --version

      - name: Install dependencies
        run: npx install-changed --install-command="npm ci"

      - name: Run QUnit tests
        run: grunt qunit:compiled
