#cp-cropper-dialog {
	width: 95%;
	height: 90%;
}

#cp-cropper-dialog .widget-modal-header {
	padding-bottom: 1em;
}

#cp-cropper-dialog .widget-modal-content {
	padding-left: 0;
}

#cp-cropper-dialog .widget-modal-footer-buttons {
	margin-top: 1em;
}

#cp-cropper-dialog .widget-modal-footer-buttons .button-primary {
	margin-top: 0;
}
